:root {
    font-size: 16px;
    --form-bg-color: #eceaf1;
    --image-bg-color: #46307f;
    --font-img-color: #8b5cf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: sans-serif;
}

.form-image {
    width: 35vw;
    height: 100vh;
    background-color: var(--image-bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-image img {
    width: 340px;
    height: auto;
    position: absolute;
    inset: 0;
    margin: auto;
}

.form-image h1 {
    margin-top: 48px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--form-bg-color);
}

.form-image h1>span {
    color: var(--font-img-color);
    font-size: 32px;
}

.form-image p {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--form-bg-color);
    position: absolute;
    width: 100%;
    bottom: 24px;
    margin-top: auto;
    text-align: center;
}

.form-data {
    width: 65vw;
    height: 100vh;
    background-color: var(--form-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: auto;
    margin-top: 48px;
}

input {
    padding: 8px 16px;
    font-size: 1.1rem;
}

.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.create-account {
    text-align: center;
}

button {
    padding: 8px 16px;
    margin-top: 8px;
    font-size: 1rem;
    width: 50%;
}

input[type="email"],
input[type="password"] {
    width: 100%;
}